.imgContainer {
    overflow-y: auto;
    align-self: center;
    max-width: 384px;
    width: 100%;
    max-height: 640px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;

    &::-webkit-scrollbar {
      display: none;
    }
}

.img {
    position: relative;
    max-width: 384px;
    width: 384px;
    max-height: 200px;
    height: 200px;
}